/* application Nutrigeo et Fren100 par Sebastien Delalande et *Kevin Tourat*  */
/* Pour Mr Charles Vaury, Gaiago dépositaire de la marque Free N100 © Officiel */

/* Sommaire


 -1 Responsive all

    -1.1 : @media 600 px
    -1.2 : @media 1024 px

 -2 Produit
    
    - 2.1 freeN100
    - 2.2 Nutrigeo

 -3 culture

    - 3.1 freeN100
    - 3.2 Nutrigeo

 -4 video, témoignage

 -5 graphique, charts

 -6 form.

    6.1 : input 
    
    6.2 : select // ?
    
    6.3 : formulaire 
    
    6.4 : calculatrice

 -7 géolocalisation map

 -9 MINI-FOOTER et FOOTER 

  - Bandeau cookie 

 -10 admin.php

 -11 iframe.php

 

 
 
 */

 

* { margin:0; padding: 0; box-sizing:border-box !important; font-family: Oswald, Arial, Helvetica, sans-serif; box-shadow: none !important;}
/* h1, h2, h3, h6{ margin:2em auto 1em;} */
h2{ text-decoration-color: #ffa621 !important; text-decoration: underline; }
h1{text-align: center !important;}


.text-admin{ margin-top: 2.5em; margin-bottom: 3em;}
.admin-title{text-align: center !important; color: white;}
.nav-admin a{color: black}
.nav-admin a:hover{color: white}
.nav-iframe a{color:white }
.nav-iframe a:hover{text-decoration-color: #ffa621 !important; text-decoration: underline; color:white }
/* .body-iframe{background-color: rgba(255, 255, 255, 0.171);} */
.fa-check{color:rgb(26, 175, 26);}
.btn-dark{margin-top: 2em; margin-bottom: 2em;}

.body-admin{
    background-image: url(../image/background-admin.jpg); 
    background-attachment: fixed;  
    margin: 0;
    padding: 0;
    min-height: 100vh;
}



/*.......................... responsive all*............................*/
@media screen and (max-width:768px){
    .navbar-toggler{margin-right: 50px !important;}
    #map{margin-right: auto !important; margin-left: auto !important;}
}
@media screen and (max-width:1024px){

    #map{margin-right: auto !important; margin-left: auto !important;}


    .txt-freen100{
        /* margin-left: 130px;
       padding-top: 90px !important; */
       margin-left: 0px !important;
       padding-top: 0px !important;
       text-align:  center;
    }
    
    .txt-nutrigeo{
        /* margin-left: 200px;
        padding-top: 50px !important; */
        margin-left: 0px !important;
       padding-top: 0px !important;
       text-align:  center;
    }
    
    .txt-freePK{
    
        /* margin-left: 180px;
        padding-top: 50px !important; */
        margin-left: 0px !important;
       padding-top: 0px !important;
       text-align:  center;
    
    }
    
    .txt-alasso{
        /* margin-left: 180px;
        padding-top: 50px !important; */
        margin-left: 0px !important;
       padding-top: 0px !important;
       text-align:  center;
    }
    
    .txt-stimulus{
        /* margin-left: 180px;
        padding-top: 10px !important; */
        margin-left: 0px !important;
       padding-top: 0px !important;
       text-align:  center;
    }
    
    .txt-vitamin{
        /* margin-left: 130px;
       padding-top: 65px !important; */

       margin-left: 0px !important;
       padding-top: 0px !important;
       text-align:  center;
    }

    .navbar-brand{

        width: 200px !important;
        padding: 0; 
        margin: 0; 
        
        margin-right: 40% !important;
        margin-left: 30px !important; 
    }

    /* h1, h2, h3, h6{ margin-left: 30px;} */
    .header-freen100{ padding: 0 0 10em !important; background-image: url(../image/arbre_gaiago_mobile.jpg) !important; background-size: cover;}

    .hr-pictos{

        border:         none;
        border-left:    1px solid hsla(200, 10%, 50%,100);
        height:         45vh !important;
        width:          1px; 
    
    
    
    }

    *{margin:0; padding:0; box-sizing:border-box !important;}
    .produit_txt{text-align: center !important; margin-left:5px !important; position: relative !important; padding: 5em 0 5em !important;}
    .embed-responsive-21by9{
        width: 100% !important; 
        
    }
    .embed-responsive-item, .embed-responsive-16by9{
        width: 100% !important;
       
    }

    .embed-responsive{margin-left: 0 !important; margin-right: 0 !important; width: 100% !important;}

    .img-fluid{
        padding-top:40px !important;
    } 
    .float{
        position: relative;
        max-width: 30%;
    }
    .logo-head{
        width: 45%;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    #card-cal{width: 90% !important;}
    
    .select-culture:hover{width: 100%;}
    .culture-input{width: 100%;}
    .surface-input{width: 126px;}
    .prix-input{width: 126px;}
    .col{display: block; margin-left: auto !important;
        margin-right: auto !important;}
    
        .form-control{
            width: 360px !important;
            text-align: left;
            
            flex-direction: column !important;
        }
    
        .txt-freen100{padding-top: 0 !important;}
    /* .col-6{max-width: 550px;}
    
    
    .fich-tech1{ height: 600px;} */
    .selectville{
        width: 250px !important;
        margin-bottom: 5px;
        border-radius: 20px;
    }
}
@media screen and (max-width:600px) {


    .navbar-brand{

        width: 200px !important;
        padding: 0; 
        margin: 0; 
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .navbar-toggler{margin-right: 10px !important}

    .text-center{
        text-align: center !important;
        padding: 0 !important;
        display: flex !important;
        flex-wrap: wrap !important;
    }

    .hr-pictos{

        display: none;
    }

    .txt-freen100{padding-top: 0 !important;}
    .header-nutrigeo{
        margin-top: 65px !important;
        padding: 0em 0 10em !important; 
        margin-left: 0 !important;
        margin-right: 0 !important;
        background-image: url(../image/terre_nutri_header_mobile.jpg) !important;
        background-size: cover;
    }
    .header-freen100{ margin-top: 65px !important; padding: 0 0 10em !important; background-image: url(../image/arbre_gaiago_mobile.jpg) !important; background-size: cover;}
    h1, h2, h3, h5, h6{ text-align: center !important;}
    h1, h2, h3, h5, h6{text-align: center !important;}
    /* h2{margin-left: 0 !important;} */
    *{margin:0; padding:0; box-sizing:border-box !important;}
    .produit_txt{text-align: center !important; margin-left:5px !important; position: relative !important; padding: 5em 0 5em !important;}
    .embed-responsive-21by9{
        width: 100% !important; 
    }
    .embed-responsive-item, .embed-responsive-16by9{
        width: 100% !important;
    }

    .embed-responsive{margin-left: 0 !important; margin-right: 0 !important; width: 100% !important;}

    .img-fluid{
        padding-top:40px !important;
    } 
    .float{
        position: relative;
        max-width: 30%;
    }
    .logo-head{
        width: 45%;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    #card-cal{width: 90% !important;}
    
    .select-culture:hover{width: 100%;}
    .culture-input{width: 100%;}
    .surface-input{width: 126px;}
    .prix-input{width: 126px;}
    .col{display: block; margin-left: auto !important;
        margin-right: auto !important;}
    
        .form-control{
            width: 100% !important;
            text-align: left;
          
            flex-direction: column !important;
        }

        .selectville{
            width: 250px !important;
            margin-bottom: 5px;
            border-radius: 20px;
        }
    .col-6{max-width: 100%;}

    #map{margin-right: auto !important; margin-left: auto;}

/* 
     .fich-tech{ height: 450px !important;} */
}

/* ........................card-body bootstrap......................... */

.fich-tech img{ width:  40px;}



.card-body{
    background-color: #ffffff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.253);
}
.center_card-body{
    padding-top: 200px !important;
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;
}
/* fiche technique */

.pictos-title{ margin-top: 2em; margin-bottom: 2em;}

/* google charts */

.go-chart{ text-align: center;}

/*........input admin.php, input formulaire, input calculatrice........... */

.form-control{

    width: 500px;
    text-align: left;
    border-style: none !important;
    flex-direction: column !important;

}

.form-control2{border-style: solid !important; }

.form-group{

    text-align: left !important;
    align-items: center !important;
    flex-direction: column !important; 

}

.center_admin{

    display: flex ;
    align-items: center !important;
    flex-direction: column !important;
}
 
.col-6, #formulaire{
    margin: 3em 0 3em;
    margin-left: auto;
    margin-right: auto;
}

#btn-admin{
    text-align: left;
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;
}

.noborder{
    border-style: none !important;
}
input[type=checkbox]{margin-left: 2px !important;}

.inline-cult{display: flex;}
/* .................responsive vidéo........................... */

/* vidéo youtube class bootstrap */

/* .embed-responsive,
.embed-responsive-1by1,
.embed-responsive-4by3,*/
.embed-responsive-16by9,
.embed-responsive-21by9{
    width: 55% !important;
    height:55% !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    align-items: center !important;
    flex-direction: column !important;
}

/*.............................général.......html......................... */

.header-nutrigeo{
    margin-top: 55px;
    padding: 0 0 20em; 
    margin-left: 0 !important;
    margin-right: 0 !important;
    background-image: url(../image/header-nutrigeo.jpg) !important;
    background-size: cover;
}
.header-freen100{
    margin-top: 55px;
    padding: 0 0 20em; 
    margin-left: 0 !important;
    margin-right: 0 !important;
    background-image: url(../image/header-freen100.jpg) !important;
    background-size: cover;
}

.header-vitam{
    margin-top: 55px;
    padding: 0 0 20em; 
    margin-left: 0 !important;
    margin-right: 0 !important;
    background-image: url(../image/header-vitam.jpg) !important;
    background-size: cover;
}

.header-stimulus{
    margin-top: 55px;
    padding: 0 0 20em; 
    margin-left: 0 !important;
    margin-right: 0 !important;
    background-image: url(../image/header-stimulus.jpg) !important;
    background-size: cover;
}

.header-alasso{
    margin-top: 55px;
    padding: 0em 0 20em; 
    margin-left: 0 !important;
    margin-right: 0 !important;
    background-image: url(../image/header-alasso.jpg) !important;
    background-size: cover;
}

.header-freepk{
    margin-top: 55px;
    padding: 0em 0 20em; 
    margin-left: 0 !important;
    margin-right: 0 !important;
    background-image: url(../image/header-freepk.jpg) !important;
    background-size: cover;
}

.logo-head{
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    align-items: center !important;
    flex-direction: column !important;
} 

.txt-header{

    font-size: 60px;
    position: relative;
    padding-top: 2em;
    text-align: center !important;
    color: white;
    font-weight: 600;
    text-shadow: 5px 5px 10px black;

}

.txt-freen100{
    margin-left: 130px;
   padding-top: 90px !important;
}

.txt-nutrigeo{
    margin-left: 200px;
    padding-top: 50px !important;
}

.txt-freePK{

    margin-left: 180px;
    padding-top: 50px !important;

}

.txt-alasso{
    margin-left: 180px;
    padding-top: 50px !important;
}

.txt-stimulus{
    margin-left: 180px;
    padding-top: 10px !important;
}

.txt-vitamin{
    margin-left: 130px;
   padding-top: 65px !important;
}


body{
    background-color: #ffffff!important;
}
.hr-pictos{

    border:         none;
    border-left:    1px solid hsla(200, 10%, 50%,100);
    height:         65vh;
    width:          1px; 
    
}
.txt-annonce-calcul, .txt-resultat-annonce{text-align: center;}

.img-fluid{ width: 100%;}

img{ max-width: 100%; height: auto;}

.txt_form{text-align: center !important; margin-top: 3em; margin-bottom: 3em;}

/* ......................class bootstrap................................ */

.row{
    text-shadow: black !important;
    padding: 0 !important;
    margin: 0 !important;
    
}
.text-center{
    text-align: center !important;
    padding: 0 !important;
    display: flex !important;
    flex-wrap: nowrap;
}

#cutlure-tech{display: table-cell;}
/* ........................témoignage et video........................ */
 .card{
    
    border: none !important ;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.253);

} 

.col-sm{ letter-spacing: 0px !important;}

.iframe{
    /* margin: 3em 0 3em; */
   
    margin-bottom: 2em !important;
    margin-top: 2em;
   border-style: solid;
   border-width: 1px;
   border-color: black ;
   background-color: rgba(32, 30, 30, 0.932);
   box-shadow: 5px 5px 15px black,
                inset -2px -2px 5px rgb(0, 0, 0);
}
.rounded-circle{ border-style: solid;
    border-width: .2px;
    border-color: black;
    box-shadow: 1px 5px 2px rgba(0, 0, 0, 0.281);
}
.container{

    margin-top: 30px;
    max-width: 1350px;
    
    flex-direction: column !important;
    margin-bottom: 30px;
    align-items: center;

    /* test */
    /* border-style: double;
    border-width: 1px;
    border-color: lightcoral; */

}

/* ............................calculatrice ..........................*/

form.calculator{
    display: flex;
    align-items: center !important;
    flex-direction: column !important;
}

hr{
    height: 3px;
	border: 0;
    background-color: #f0e9e9;
    color: white;
    font-weight: bold !important;
}

#calculette{
    margin: 3em 0 3em;
    display: none;  
}

/* test */
#card-cal{
    line-height: 10px;
    width: 25rem;
    background-image: url(../image/agriculture1.jpg);
    background-size: cover;
    /* background: #e8e8e8; */
    border-radius: 10px;
    text-align: left;
    box-shadow: -5px -5px 10px rgba(255,255,255,0.05),
                5px 5px 15px rgba(0,0,0,0.5);

    border-width:1px;           
    border-color:  #13aa27;            
}

.culture-form{
    text-align: left;
}
.culture-input{ width: 100%; padding: 10px 10px; border-radius: 20px; outline: none;}
.select-culture{
    width: 94%; 
    margin-left: 5px !important;
    display: flex !important;
    margin-left: auto !important;
    margin-right: auto !important;
    align-items: center !important;
    /* flex-direction: column !important;  */
    margin-top: 10px;  
    padding:2em;
    border-style: solid;
    border-width:1px;           
    border-color:  #13aa27;
 }
.custom-range{
    padding: 0 4% 0; 
    color: rgb(34, 32, 32);
    background: rgb(255, 255, 255);
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.315);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

input[type="range"]{ 
    width: 92%;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    align-items: center !important;
    background-color: #eef3f5; 
}
.select-cal{
    width: 92%;
    text-align: center;
    margin-left: 5px !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    align-items: center !important;
    flex-direction: column !important;  
    padding: 8px;
    border-radius: 20px;
    outline: none;
    color: #1b1c1d;  
}

.readonly{
    width: 92%;
    text-align: center;
    margin-left: 5px !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    align-items: center !important;
    flex-direction: column !important;  
    padding: 8px;
    border-radius: 20px;
    color: #1b1c1d;
    box-shadow: inset -2px -2px 6px rgba(255,255,255,0.01),
                inset 2px 2px 6px rgba(0, 0, 0, 0.315);     
}

.prix-input, .surface-input{
    width: 100%;
    height: 40px;
    background-color: #e3e4e9;
    border: none;
    outline: none;
    border-radius: 20px;
    text-align: center;
    
   
    color: #131414;
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.473),
                inset 2px 2px 6px rgba(0, 0, 0, 0.514);
    border-style: solid;
    border-width:1px;           
    border-color:  #13aa27;
}
label{ font-size:smaller; text-align: left !important; font-size:12px !important;}

.col{
    margin-top: 0 !important;
    text-transform: uppercase;
    color: rgb(253, 253, 253);
    text-align: left;
    margin-right: 10px !important;
    margin-left: 10px !important;
    margin: 1px;
    padding: 10px;
    border-style: solid;
    border-width:1px;           
    border-color:  #13aa27;
}

.col-ignor{

    border: none !important;
    text-align: initial !important;
    margin-right: auto !important;
    margin-left: auto !important;
    padding: 0 !important;
    margin: 0 !important;
    color: black !important;
    text-transform: none !important;
    width: 250px !important;

}

.col2{
    margin-top: 0;
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-width:1px;           
    border-color:  #13aa27;
    background-color: #faf9f986;
}
.col3{
    border-radius: 10px;
    margin-top: 0;
    color: rgb(253, 253, 253);
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-width:1px;           
    border-color:  #13aa27;
    background-color: #21802ecb;
}
.col4{
    border-radius: 10px;
    margin-top: 0;
    
    color: rgb(2, 2, 2);
    text-align: left;
}

input::placeholder{
    color:rgb(24, 23, 23);
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 30px;
    width: 30px;
    border-radius: 27px;
    background: #13aa27;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11px;
  }

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Chrome */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	margin:0;
}

/* Opéra*/
input::-o-inner-spin-button,
input::-o-outer-spin-button { 
	-o-appearance: none;
	margin:0
}

#resultat, #rendement{background-color: #fff;}
/* ..............................MINI-FOOTER................................... */

.sm_footer{
    background-color:#ea9352 !important;
    text-align: center;
    
}
.sm_hidden{
    visibility: hidden;
}

/* .................................FOOTER.................................. */

footer{
    text-align: center;
    /* padding: 0; */
    background-color: #064929;
    padding: 1em 0 1em;
    font-weight: bold ;
    font-size: 1em;
    color: #fff !important;
    z-index: 0;
}
#footer a{color:white;}
#footer a:hover{color:white; text-decoration-color: #ffa621 !important; text-decoration: underline; }
svg{width: 50px;}
.text-svg{font-size: 15px;}

/* cookie */
.btncookie{
    background-image: url(../image/logo_gaiago_small.png);
    background-repeat: no-repeat;
    color:#fff;
    padding: 1em 0 1em;
    text-align: center;
    position: fixed;
    background-color: rgba(0,0,0,0.8);
    display: block;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 999999;
     /* visibility: hidden; */
}
.rgpd-cookie{ color:rgb(245, 120, 37) !important;}
.btn-outline-light{
    width: 70px;
    margin-left: 70px; 
    margin-right: 70px; 
}

.img-footer{
    width: 40px;
}

/* Map */
#map{
    border-style: solid;
    border-width: 1px;
    border-color: rgba(63, 62, 62, 0.452);
    margin: 20px 20% 20px;
    height: 500px;
    
}



.leaflet-control-zoom a {
    color:black !important;
}
.leaflet-control a {
    color:black !important;
}
.awesome-marker i {
    font-size: 18px;
    margin-top: 8px;
}
.glyphicon{
    position: relative;
    line-height: 14px;
}
#formmap{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.choixmap{
    
    
    padding: auto !important;
}
.selectville{
    
    width: 450px;
    margin-bottom: 5px;
    border-radius: 20px;
}

.sidebar {
    height: 715px;
    width: 200px;
    float: left;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f8f8f8;
    overflow-y: auto;
    padding-top: 16px;
    border-right-style: solid;
    border-color: rgba(51, 50, 50, 0.37);
    border-width: 0.5px;
    box-shadow: rgba(0, 0, 0, 0.377) 2px 2px 20px !important;
    color: orangered;
  }
  
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  
  .sidebar a:hover {
    color: #f84b20;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }



/* ifram.php */

.new-ifram-php{

    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.button-ifram{

    margin-top: 2em;
    margin-bottom: 2.5em;

}

 /* page iframe.php  */


/* gestion base de donnée nutrigéo map géolocalisation */

.geofile{
    height: 32px !important; text-align: center !important;
}
.custom-file-label{text-align: center !important;}





.ast-cal{font-size: 10px; text-align: center; color: white; margin-bottom: 1em; line-height: 20px; }


.navbar-brand{

    width: 200px !important;
    padding: 0; 
    margin: 0; 
    
    margin-right: 56%;
    margin-left: 30px;
}

.navbar{

    border-bottom-style: solid !important; 
    border-width: 1px !important; 
    border-color: #c4c4c48a !important; 
    padding: 0 !important; 
    margin: 0 !important;


}

/* alert map */
.small-form{

  width: 250px; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 20px;
  border-style: solid !important;
  border-color: rgba(32, 32, 32, 0.192);
  border-width: 0.5px !important;

}
#resultfail{
    color:white;
    background-color: rgba(233, 18, 18, 0.637);
    border-radius: 20px;
    margin-top: 1em;
}

/* navbar */
.bouton-recrute{margin-left: 35px !important; }

.a-drop-nav:hover{text-decoration-color: #131212 !important; text-decoration: underline;}
.a-drop-nav{margin-left: 1px; font-size: 1.3em; font-weight: 500; font-family: Oswald, Arial, Helvetica, sans-serif;   



} 

.lol{background-color: rgb(226, 21, 21) !important;}

.background-logo{

    background-color: #fff;
    height: 250px;

}

.txt-center{text-align: center;}


.pixa-tag {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#footer-404{background-color:#fb503c; color:white; background-image: url(../image/tractor.jpg) !important; padding: 6em 0 6em;}
#footer-404 a{color:white;}
#footer-404 a:hover{color:white;}
.header-no-found{
    padding: 5em 0 5em;
    text-align: center;
    
}
.txt-404{font-size: 3em;}
.logo-tag a{color: #181616d8;}
.logo-tag a:hover{color: #fb503c;}
