// mes alert boostrapp

.my-alert{

    border: 0;
    border-radius: $border-radius-small;
    // color: $white-color;
    padding-top: .9rem;
    padding-bottom: .9rem;
    position: relative;

    &.my-alert-danger{

        background-color:  darken($my-danger-color, 100%); 
      
    }
}